* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-highlight {
    width: 80%;
    height: 100%;
    border: solid 2px black;
}

section {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.image-gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-description {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2d2c0;
}

.image-preview {
    display: flex;
    width: 80%;
    border: 2px solid  #e2d2c0;
}

.image-preview img {
    height: 100px;
    flex-grow: 1;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

img.image-active {
    opacity: 1;
}


@media screen and (max-width: 576px) { 

}


@media screen and (max-width: 768px) { 

 }


@media screen and (max-width: 992px) { 
    section {
        flex-direction: column;
    }
    .image-description {
        width: 100%;
    }
 }

@media (max-width: 1200px) { 

 }